<!DOCTYPE html>
<html>
<head>
	<title>It's <%=who%></title>

	<script src="/js/bootstrap.min.js"></script>
	<%-scripts%>

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/styles.css" />
	<%-stylesheets%>
</head>
<body>
	<div class="container">
		<% include header %>

		<section>
			<%-body -%>
		</section>

		<% include footer %>
	</div>
</body>
</html>