<header>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li <% if (global.route === '/') { %>class="active"<% } %>><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</div>
	</div>
	<%=global.route %>
	<%-blocks.header %>
</header>